USE [master]
GO
/****** Object:  Database [PP]    Script Date: 07/09/2021 23:55:38 ******/
CREATE DATABASE [PP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PP]
GO
/****** Object:  User [Yanet]    Script Date: 07/09/2021 23:55:38 ******/
CREATE USER [Yanet] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 07/09/2021 23:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Id_Persona] [int] IDENTITY(1,1) NOT NULL,
	[Id_Tipo_Empleado] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Fecha_Nacimiento] [date] NOT NULL,
	[Dni] [varchar](10) NOT NULL,
	[Sexo] [varchar](10) NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
	[Direccion] [varchar](50) NOT NULL,
	[Localidad] [varchar](50) NOT NULL,
	[Provincia] [varchar](50) NOT NULL,
	[Grupo_Sanguineo] [varchar](5) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Fecha_Ingreso] [date] NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Contrasenia] [varchar](50) NOT NULL,
	[Observaciones] [varchar](50) NULL,
 CONSTRAINT [PK_Operarios] PRIMARY KEY CLUSTERED 
(
	[Id_Persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tareas]    Script Date: 07/09/2021 23:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tareas](
	[Id_Tarea] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tareas] PRIMARY KEY CLUSTERED 
(
	[Id_Tarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Empleado]    Script Date: 07/09/2021 23:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Empleado](
	[Id_Tipo_Empleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tipo_Empleado] PRIMARY KEY CLUSTERED 
(
	[Id_Tipo_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tipo_Empleado] ON 

INSERT [dbo].[Tipo_Empleado] ([Id_Tipo_Empleado], [Nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[Tipo_Empleado] ([Id_Tipo_Empleado], [Nombre]) VALUES (2, N'Operario')
SET IDENTITY_INSERT [dbo].[Tipo_Empleado] OFF
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Personal_Tipo_Empleado] FOREIGN KEY([Id_Tipo_Empleado])
REFERENCES [dbo].[Tipo_Empleado] ([Id_Tipo_Empleado])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Personal_Tipo_Empleado]
GO
USE [master]
GO
